@page "/comms/radio"

<h1>In-App Radio</h1>
<div class="card">
    <p>Channel scopes: station, region, organization.</p>
    <p>Background audio: user configurable.</p>
    <p>PTT messages are transcribed and can be read with TTS playback.</p>
</div>
