@page "/operations/fueling"

<h1>Guided Fueling Workflow</h1>
<ol>
    <li>Select flight</li>
    <li>Enter 2-4 character tail/ship number</li>
    <li>Enter arrival fuel by tank by aircraft type</li>
    <li>Enter start totalizer</li>
    <li>Enter delivered fuel</li>
    <li>Validate imbalance and variance rules</li>
    <li>Complete fueling ticket with on-time scoring</li>
</ol>
